@import 'node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

$default-font-type: Garamond;
$default-color:navy;
$header-background-color:dodgerblue;
$chat-background-color:gray;


header{
    @include grid-row();
    background-color:$header-background-color;
    color:$default-color;
    
    h1{
        @include grid-column(8);  
    }

    p{
        @include grid-column(2);
        text-align:right;
    }

    #name{
        @include grid-column(2);
        margin-top:20px;
        padding-right:10px;
        border:2px solid $default-color; 
    }
}

main{
    @include grid-row();

    ul{
        @include grid-column(12);
    }
}

footer{
    @include grid-row();
    margin-top:100px;

    button{
        @include grid-column(2);
        padding:5px;
        border:1px solid $default-color;
        background-color:$header-background-color;
        color:$default-color;
    
    }

    #write{
        @include grid-column(8);
   
    }
}



