@import 'node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

$default-font-type: Garamond;
$default-color:#FEFCFB;
$header-background-color:#001F54;
$border-radius:4px;
// $chat-background-color:gray;

* {
    font-family:sans-serif;
}

header{
    @include grid-row();
    background-color:$header-background-color;
    color:$default-color;

    h1{
        @include grid-column(8);  
    }

    p{
        @include grid-column(2);
        text-align:right;
    }

    #name{
        @include grid-column(2);
        margin-top:20px;
        padding-right:10px;
        border:2px solid $default-color; 
        border-radius:$border-radius;
        background-color:$default-color;
    }
}

main {
    @include grid-row();
    overflow:scroll;
    height:700px;
    border:2px solid #1282A2;
    background-color:$default-color;

    /*ul{*/
        /*@include grid-column(12);*/
        /*list-style:none;*/
          /*background-color: yellow;
          margin: 5px;*/
    /*}*/

    .inMessages{
        @include grid-column(6);
        background-color: lightgray;
        list-style: none;

        li{
        margin:5px;
        border:2px solid white;
        }
       
    }

    .outMessages{
        @include grid-column(6);
         list-style: none;
         background-color:darkgray;
     
    }

    
}

footer{
    @include grid-row();
    background-color:$header-background-color;
    padding:10px 0;
    
    button{
        @include grid-column(2);
        padding:15px 2px;
        border:1px solid $default-color;
        background-color:#034078;
        color:$default-color;
        border-radius:$border-radius;    
    }

    #write{
        @include grid-column(8);
        border-radius:$border-radius;
        padding-top:19.5px;
        background-color:$default-color;
        font-size:1.3em;
    }

    #sent:hover {
        background-color:#1282A2;
        color:#0A1128;
    }

     #receive:hover {
        background-color:#1282A2;
        color:#0A1128;
    }
}



